body {
    margin: 0;
    background-color: black;
    font-family: monospace;
}

.header {
    border-bottom: 3px solid aqua;
}

.header .navBar .destaque {
    font-weight: bolder ;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container {
    justify-content: space-between;
}

.titulo {
    color: aqua;
    width: fit-content;
    font-weight: 600;
}

.navBar {
    color: white;
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    width: 300px;
    padding: 0;
    align-items: center;
    font-size: 16px;
}

/* fim do cabeçalho */

/* começo do banner */

.banner{
    background-image: url("imgs/bg-jelly-fish-para-home.png");
    background-repeat: no-repeat;
    height: 500px;
    color: #ffffff;
    display: flex ;
}

.banner .container p span{
    font-weight: 1000;
}

.banner .container p {
    font-weight: 100    ;
}

.banner .container{
    font-size: 25px;
    justify-content: center;
}

.banner .container p{
    font-size: 25px;
    justify-content: center;
    width: 20%;
}

/* fim do banner */

/* Começo do social */

.social {
    background-color: beige;
    display: flex;
} 

.social .container .boxes .box img{
    width: 135px;
}

.social .container .boxes {
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;             
    align-items: center;
    margin: 50px;
}
/* 
.social .contaniner .boxes .box p{
    width: ;
} */

/* fim do social */

/* começo do footer */

.footer {
    background-color: #32b9cd;
    height: 100px;
    color: #ffffff;
    display: flex;
}

.footer .container {
    justify-content: center;
}

.footerFixo {
    background-color: #32b9cd;
    height: 100px;
    color: #ffffff;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footerFixo .container {
    justify-content: center;
}

/* A classe footerFixo foi desenvolvida para que os dois footers ficassem no fim pois quando o da home dava certo o do login dava errado e vice versa */

/* LOGIN */

a{
    color: #ffffff;
    text-decoration: none;
}

.banner .container .card {
    margin-top: 40px;
    background-color: beige;
    width: 400px;
    display: flex;
    flex-direction: column;
    color: palevioletred;
    align-items: center;
    border-radius: 4px;
    padding-bottom: 20px;
}


.card h1{
    font-size: 30px;
}

.card h4{
    font-size: 15px;
}

.card input {
    border: palevioletred solid 1px;
    padding: 10px;
}

.card button {
    background-color: palevioletred;
    height: 30px;
    width: fit-content;
    margin-top: 25px;
    font: 700 20px monospace;
    color: white;
    border: 0;
    border-radius: 10px;   
    cursor: pointer;
}

/* Fim login */

/* Cadastro */

.bannerCadastro {
    background-image: url("imgs/bg-jelly-fish-para-home.png");
    background-repeat: round;
    height: 700px;
    color: #ffffff;
    display: flex ;
}

.bannerCadastro .container{
    font-size: 25px;
    justify-content: center;
}

.bannerCadastro .container .card {
    background-color: beige;
    width: 400px;
    display: flex;
    flex-direction: column;
    color: palevioletred;
    align-items: center;
    border-radius: 4px;
    padding-bottom: 20px;
}


